@media (min-width: 480px){
  .container {
    width: 480px;
  }
  .navigation{
  font-weight: 500;
}
      .name-hero {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        width: 318px;
        }
        .customers-item {
          width: calc((100%-48px) / 3);
       }
      }
@media (max-width: 479px){
  .customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: column;
}
}