@media (min-width: 480px){
  .container {
    width: 480px;
  }
      .name-hero {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        width: 318px;
        }
       }
      
/*@media (max-width: 480px){
.container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }*

}*/

