html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/*==================================CONTAINER==================*/
.container {
  /*width: 1158px;*/
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
  /*margin: 0 auto;*/
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-size: normal;
}
.visuilly-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-container {
  list-style: none;
  display: flex;
  margin: 0 auto;
  gap: 24px;
  border: none;
  padding-top: 96px;
  padding-bottom: 72px;
}
.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: #4d5ae5;
}
.a-nav.current {
  color: #404bbf;
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 1;
}
:root {
  --accent-color: #4d5ae5;
  --text-color: #2e2f42;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}
body {
  font-family: "Roboto", "sans-serif";
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", "sans-serif";
  color: var(--text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  margin-right: 77px;
}

.logo-web {
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #4d5ae5;
}

.logo-studio {
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-color);
}
.menu {
  display: flex;
  gap: 40px;
  color: var(--text-color);
}

.contact-list-link {
  list-style: none;
  text-decoration: none;
  color: #434455;
  margin-left: 40px;
  outline: 1px solid red;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #4d5ae5;
}

.navigation {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
  margin-right: auto;
  outline: 1px solid red;
  display: flex;
}

.navigation link {
  color: var(--text-color);
}
.background {
  background: #2e2f42;
  background-image: var(--bg-gradient), url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 192px;
  padding-bottom: 192px;
}

.a-nav {
  color: #2e2f42;
  position: relative;
}
.a-nav .curren::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border-color: #404bbf;
  left: 0px;
  padding-bottom: 24px;
}

.name-hero {
  color: #ffffff;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  width: 492px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 600;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  min-width: 170px;
  height: 51px;
  border-radius: 4px;
  offset: 0px, 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
  color: #ffffff;
}
.adge {
  padding-top: 120px;
  padding-bottom: 120px;
  outline: 1px solid red;
}
.adge-list {
  display: flex;
  gap: 24px;
}
.adge-item {
  /*width: calc((100% - 72px) / 4);*/
  height: 112px;
  margin-bottom: 8px;
}
.adg-link {
  width: 100%;
  height: 100%;
  background: #f4f4fd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.team-container {
  padding-top: 120px;
  padding-bottom: 110px;
  background: #f4f4fd;
}

.main-name-section {
  font-size: 36px;
  color: var(--text-color);
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
}

.container-servis {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-h3-p {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #ffffff;
}

.team-h3-p:hover,
.team-h3-p:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-soc {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-item{
  width: calc((100% - 72px) / 4); 
}
.team-item-soc {
  width: 40px;
  height: 40px;
}
.team-link-soc-icon {
  fill: #f4f4fd;
}
.team-link-soc {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-soc:hover,
.team-link-soc:focus {
  background: #404bbf;
}
.main-name {
  color: var(--text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.main-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

.img-team {
  min-height: 300px;
  border: 1px solid #e7e9fc;
}
.name-block {
  color: var(--text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}
.name-block-color {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  outline: 1px solid red;
}
.list {
  display: flex;
  gap: 24px;
}
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

/*.customers-list {
  display: flex;
  gap: 24px;
}*/
.customers-item {
  /*width: calc((100%-120px) / 6);*/
  height: 88px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item:hover,
.customers-item:focus {
  border: 1px solid #404bbf;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  fill: #404bbf;
  border-color: #404bbf;
}

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  /*display: flex;*/
  text-decoration: none;
}

.contant {
  width: 264px;
  /*margin-right: 120px;*/
  outline: 1px solid red;
}
/*.container-footer {
  display: flex;
}*/

.studio-footer {
  font-family: "Raleway", "sans-serif";
  color: #f4f4fd;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
}
.footer-text {
  color: #e7e9fc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
}
.footer-text-container {
  outline: 1px solid red;
}
.wrap {
  display: block;
  outline: 1px solid red;
}
.footer-text-soc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list-soc {
  display: flex;
  gap: 16px;
}

.footer-item-soc {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-soc:hover,
.footer-item-soc:focus {
  background: #31d0aa;
  /*border-radius: 50%;*/
}

.footer-link-soc-icon {
  fill: #f4f4fd;
}

.footer-link-soc {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-soc:hover,
.footer-link-soc:focus {
  background-color: #31d0aa;
}

.text-footer-form {
  color: #ffffff;
  /*margin-left: 80px;*/
  margin-bottom: 16px;
}
.footer-form {
  /*margin-left: 80px;*/
  display: flex;
  /*gap: 16px;*/
}

.input-user-name {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2e2f42;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.input-user-name::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24 / 12);
  padding-top: 8px;
  padding-bottom: 8px;
  /*padding-left: 16px;*/
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  display: flex;
  width: 165px;
  height: 40px;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 24px;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #404bbf;
}
.icon-send {
  margin-left: 16px;
}

/*======================PORTFOLIO==============*/
.main-pf {
  padding-top: 96px;
  padding-bottom: 120px;
}
.menu-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover,
.menu-btn:focus {
  background: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.card-item {
  position: relative;
}
.card-item:hover .top-text {
  transform: translateY(0%);
}
.img-wrap {
  position: relative;
  overflow: hidden;
}
.pf-naim-text {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-naim-text:hover,
.pf-naim-text:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.top-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #f4f4fd;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 164px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.img-container {
  width: calc(100% - 48px) / 3;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  gap: 24px;
}

.container-meny-pf {
  display: flex;
  gap: 24px;
  text-align: center;
  margin-bottom: 72px;
  justify-content: center;
}
.portfolio-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.pf-h3-p {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  border: 0.5px solid #f4f4fd;
}

/*=============MODAL==========*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(237, 18%, 22%, 0.373);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 24px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  fill: #e7e9fc;
}
.modal-close-icon {
  width: 8px;
  height: 8px;
  color: #0000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  outline: 1px solid red;
    text-align: center;
    margin-bottom: 14px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
}

.modal-field {
  /*position: relative;*/
  margin-bottom: 4px;
  /*margin-left: 24px;*/
}
.modal-input {
  width: 360px;
  height: 40px;
  outline: none;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #404bbf;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
}

.modal-input:focus {
  border-color: #404bbf;
}
.modal-input:focus + .input-icon {
  fill: #404bbf;
}
.modal-text {
  display: inline-block;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  }
  
.input-icon {
  position: absolute;
  left: 14px;
  top: 19px;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.input-wrap {
  position: relative;
  margin-top: 4px;
  
}
.modal-comment {
  width: 360px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-top: 4px;
  margin-bottom: 16px;
  padding-top: 8px;
  
  padding-left: 16px;
  resize: none;
  outline: none;
}
.modal-comment ::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.check-text {
  display: flex;
  font-size: 12px;
  margin-bottom: 24px;
  align-items: center;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  display: block;
  margin-right: 7px;
  align-items: center;
}

.input-check:checked + .check-text::before {
  background-color: #404bbf;
  border: none;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.privacy-policy{
  color: #4D5AE5;
}
.modal-btn {
  display: flex;
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #4d5ae5;
  color: #ffffff;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.05);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
