@media (min-width: 768px){
    .container{
        width: 768px;
    }

    .tel-mail {
        display: flex;
        text-align: right;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .contact-list-link {
    margin-bottom: 4px;
    }
.menu-open {
    display: none;
}
.background {
    background-image:var(--bg-gradient), url('../img/Dark-bg-tab1x.jpg');
  }
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background {
    background-image:var(--bg-gradient), url('../img/Dark-bg-tab-2x.jpg');
  }
  
}
.adge-list {
    display: flex;
    row-gap: 72px;
    
    flex-wrap: wrap;
}
.adge-item {
    margin-bottom: 8px;
    width: 356px;
}
.name-block-color {
    padding-top: 96px;
    padding-bottom: 128px;
    outline: red solid 1px;
}
.team-tumb {
    flex-wrap: wrap;
    align-items: center;
    row-gap: 72px;
    justify-content: center;
}
.customers-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.customers-item {
   width: 190px;
  }
  .contant {
    margin-right: 24px;
    margin-bottom: 72px;
}
.container-footer {
    display: flex;
    flex-wrap: wrap;
    
}
/*.text-footer-form {
    margin-top: 72px;
}*/
.input-user-name{
    margin-right: 24px;
}
.mob-menu{
    display: none;
}
}
/*----------------------------------------------------------------------------------*/
@media (max-width: 767px){
.contact-list-link {
    display: none;
}
.menu {
    display: none;
}
.background {
    background-image:var(--bg-gradient), url('../img/Dark-bg-1x.jpg');
  }
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background {
    background-image:var(--bg-gradient), url('../img/Dark-bg-2x.jpg');
  }
}
.name-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    width: 318px;
    }
    .adge {
        padding-top: 96px;
        padding-bottom: 96px;
        outline: 1px solid red;
    }

.adge-item {
   margin-bottom: 8px;
}
.adge-list {
    gap: 72px;
    flex-direction: column;
    text-align: center;
}
.main-name {
    font-size: 36px;
    line-height: 1.11;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    width: 264px;}
    .team-tumb {
        display: flex;
        gap: 72px;
        flex-direction: column;
    }
  
  .customers-list {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .customers-item {
      width: 190px;
    }
    .container-footer {
       flex-direction: column;
        align-items: center;
    }
    .contant {
        text-align: center;
    }
    .wrap {
        margin-top: 72px;
        text-align: center;
    }
    .text-footer-form {
        margin-top: 72px;
        text-align: center;
    }
    .input-user-name {
       width: 396px;
       text-align: center;
    }
    .footer-form {
        
        flex-direction: column;
        align-items: center;
    }
    .btn-subscribe {
        margin-top: 16px;
    }
    .input-user-name {
        text-align: left;
    }
   
        }